@import "mixins";

.example-block {
  display: flex;
  flex-direction: column;
  padding: 27px 20px 39px 20px;
  box-sizing: border-box;
  background-color: #eaeaea;
}

.example-block__header {
  @include head;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 33px;
}

.example-block__text {
  @include text;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 25px;
}
