@import "mixins";

.extra {
  @include fieldset;
}

.extra__head {
  @include legend;
  margin-bottom: 39px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: -20px;
    top: 15px;
    width: 136px;
    height: 2px;
    background-color: $basicGreen;
  }
}

.extra__row {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}
