@import "mixins";

.form-row {
  display: flex;
  align-items: center;
  width: 100%;

  &__label {
    @include label;
  }

  &__label:first-child {
    margin-right: 12px;
  }

  &__input {
    @include input;
    flex-grow: 1;
    width: 0;
  }
}
