@import "mixins";

.head-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 480px;
  background: url("../img/header-background.jpg") no-repeat;
}

.head-block__button {
  @include button;
  font-size: 14px;
  line-height: 18px;
  width: 280px;
  min-height: 40px;
}
