@import "mixins";

.how-to-block {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 46px;

  &__header {
    @include head;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 40px;
  }

  &__list {
  }
}
