@import "mixins";
@import "variables";

.main-container {
  display: flex;
  flex-direction: column;

  &__head {
    @include head;
    padding: 27px 20px 41px 20px;
    font-size: 36px;
    line-height: 36px;
    border-top: 1px solid $borderSeparatorColor;
    border-bottom: 1px solid $borderSeparatorColor;
  }
}

.main-container .head-block {
  margin-bottom: 22px;
}

.main-container .how-to-block {
  margin-bottom: 46px;
}

.main-container .program-block {
  margin-bottom: 27px;
}
