.main-container {
  display: flex;
  flex-direction: column;
}

.main-container .head-block {
  margin-bottom: 22px;
}

.main-container .how-to-block {
  margin-bottom: 46px;
}

.main-container .program-block {
  margin-bottom: 27px;
}
