@import "variables";

@mixin head {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-weight: 400;
  text-align: center;
}

@mixin text {
  margin: 0;
  padding: 0;
  font-family: $font-family-second;
  color: #444;
  font-weight: 400;
  text-align: left;
}

@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #68b738;
  border: none;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
