@import "variables";
@import "mixins";
.present-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 43px;
  background-color: $green;
  background-image: url("../img/gift-photo-mobile.jpg");
}

.present-info__text {
  @include text;
  width: 161px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
