.product-card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e7e7e7;
  padding: 19px 20px 25px 20px;
}

.product-card__wrapper {
  display: flex;
  margin-bottom: 22px;
}

.product-card__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.product-card__description {
  width: 50%;
}

.product-card__button {
  @include link;
  @include button;
  padding: 10px 0;
  width: 100%;
}
