@import "variables";
@import "mixins";

.promo-block {
  position: relative;
  min-height: 302px;
  padding: 0 35px;
  padding-top: 27px;
  box-sizing: border-box;
  background: rgba(104, 183, 56, 0.85);

  &__main-head {
    @include head;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    margin-bottom: 25px;
  }

  &__secondary-head {
    @include head;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }

  &__img {
    position: absolute;
    top: 168px;
    left: 17px;
  }
}
