.statistic-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistic-block__info-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 34px;
}

.statistic-block__total {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
}
