@import "variables";

.statistic-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 124px;
  min-height: 56px;
  border: 1px solid $borderSecondaryColor;
  box-sizing: border-box;
  border-radius: 3px;
}

.statistic-info__data {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.statistic-info__name {
  position: absolute;
  padding: 0 10px;
  top: 45px;
  left: 18px;
  width: 65px;
  min-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: $blockBackgroundColor;
}
