$width-mobile: 320px;

$font-family-base: "Oswald", "Arial", sans-serif;
$font-family-second: "Arial", sans-serif;

$green: #68b738;
$greenWithOpacity: rgba(104, 183, 56, 0.85);
$blackLight: #444444;
$borderMainColor: #d9d9d9;
$borderSecondaryColor: #cdcdcd;
$footerBackgroundColor: #f2f2f2f2;
$blockBackgroundColor: #eaeaea;
