$width-mobile: 320px;

$font-family-base: "Oswald", "Arial", sans-serif;
$font-family-second: "Arial", sans-serif;

$basicGreen: #68b738;
$basicGreenWithOpacity: rgba(104, 183, 56, 0.85);
$specialGray: #cdcdcd;
$specialGray2: #666666;
$basicGray: #f2f2f2f2;
$specialDarkGray: #444444;

$borderControlColor: #e7e7e7;
$borderSeparatorColor: #d9d9d9;
